/* frontend/src/App.css */

/* El contenedor principal */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* El título */
h1 {
    color: #00ADD8; /* Azul Go */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(97, 218, 251, 0.5);
}

/* La Tabla */
table {
    width: 95%;
    border-collapse: collapse;
    background-color: #20232a; /* Fondo oscuro tabla */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Encabezados de la tabla */
thead {
    background-color: #282c34;
}

th {
    padding: 15px;
    text-align: left;
    font-weight: 600;
    color: #61dafb;
    border-bottom: 2px solid #363b45;
}

/* Celdas normales */
td {
    padding: 12px 15px;
    border-bottom: 1px solid #363b45;
}

/* Efecto cebra (una fila sí, una no) */
tbody tr:nth-child(even) {
background-color: #2c313c;
}

/* Efecto al pasar el ratón por encima */
tbody tr:hover {
    background-color: #3e4451;
    cursor: default;
    transition: background-color 0.2s;
}

/* Colorear columnas específicas */
/* Hostname (Columna 2) */
td:nth-child(2) {
    color: #4FDB51; /* Rojo suave */
    font-weight: bold;
}
/* CPU (Columna 4) */
td:nth-child(4) {
    color: #ff6b6b; /* Rojo suave */
    font-weight: bold;
}
/* RAM (Columna 5) */
td:nth-child(5) {
    color: #feca57; /* Amarillo suave */
    font-weight: bold;
}
/* Disco (Columna 6) */
td:nth-child(6) {
    color: #76AB80; /* Amarillo suave */
    font-weight: bold;
}
/* Hora (Columna 7) */
td:nth-child(7) {
    color: #B186C4; /* Amarillo suave */
    font-weight: bold;
}